@import 'src/scss/variables';

.sign-up-page {

    .form-header {
        color: $text-bright;
        font-size: 12px;
        margin: 15px 0 30px;
        text-align: right;

        &__type {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}
