@import 'src/scss/variables';

.button {
    background-color: transparent;
    border: 0;
    padding: 7px 15px;
    transition: $transition-default;

    &__primary {
        background-color: $background-accent;
        border-radius: 1px;
        color: $text-accent;
        font-size: 14px;
        font-weight: bold;

        &:focus,
        &:hover {
            background-color: lighten($background-accent, 20%);
        }

        &--disabled {
            background-color: $background-dark;
            opacity: 0.75;

            &:focus,
            &:hover {
                background-color: $background-dark;
            }
        }
    }

    &__secondary {
        color: $text-focused;
        font-size: 12px;
        font-weight: bold;
        padding: 7px 0;

        &:focus,
        &:hover {
            text-decoration: underline;
        }

        &--disabled {
            color: $text-bright;
            opacity: 0.75;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
