@import 'src/scss/variables';

.form-control {
    display: inline-block;
    margin: 7px 20px 32px 0;
    width: 100%;

    &--tiny {
        width: 90px;
    }

    &--small {
        width: 135px;
    }

    &--medium {
        width: 180px;
    }

    &--large {
        width: 360px;
    }

    &__component {
        padding: 5px 0;
    }

    &__label {
        color: $text-bright;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
