$background-accent:     #149fda;
$background-bright:     #ffffff;
$background-dark:       #656565;
$background-default:    #ffffff;

$border-accent:         #128ec3;
$border-bright:         #c3c3c3;

$text-accent:           #ffffff;
$text-bright:           #656565;
$text-focused:          #128ec3;

$transition-default:    all ease-in-out 0.3s;
